<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.gmall.user.mapper.UmsMemberReceiveAddressMapper">

<select id="selectAllReceiveAddress" resultType="com.atguigu.gmall.user.bean.UmsMemberReceiveAddress">
    select t.*  from ums_role t
</select>

</mapper>

